.modal-container {
  position: absolute;
  z-index: 10;
  width: 200px;
  margin: auto;
  height: 250px;
  margin-bottom: 4rem;
  background: #fff5e1;
}

.modal-container img {
  width: 150px;
}

.buttons-container button {
  background: #0c1844;
  padding: 0.5rem;
  border: none;
  color: #fcfcfc;
  margin: 0.5rem;
}

.x {
  cursor: pointer;
}
